<div class="sideBarDropdown">
  <button class="dropTitle" {{on 'click' this.toggleOpenClose}}>
    <span>{{this.title}}</span>
    <img src="/assets/images/chevron.svg" alt="dropdown chevron" class="chevron {{if this.open 'chevron-flip'}}">
  </button>
  {{#if this.open}}
    <div class="content">
      <span>{{this.contentTitle}}: </span>
      {{this.content}}
    </div>
  {{/if}}
</div>